var foo = "'hello world ' from common.wxs"
var bar = function(d) {
  return d + d;
}
var a = function(x) {
  return function() {
    return x
  }
}
var b = a(100)
console.log((100 === b()) + "--common.wxs")
var c = function() {
  console.log((arguments.length) + "++++++++==")
  console.log((100 === arguments[0]) + " +++++++")
  console.log((200 === arguments[1]) + " +++++++")
  console.log((300 === arguments[2]) + " +++++++")
}
c(100, 201, 300)

var func = function(a, b, c) {}
console.log(func.constructor + "----")
console.log(func.length + "=========")
console.log(func.toString() + "=======")

module.exports = {
  foo: foo,
  bar: bar
};
module.exports.msg = "some msg";
// 上述例子中common.wxs 文件里面编写了wxs 代码，该.wxs 文件可以被其他的.wxs 文件或wxml 中的<wxs>
//标签引用。
/**
 * array
 * 数组
 * var a = [] 声明一个空数组
 * a = [1,"2",{},function(){}] 生成一个新的非空数组，数组元素可以是任何类型
 */
/**
 * date 
 * 生成date 对象需要使用getDate 函数，返回一个当前时间的对象
 */
var date = getDate();
console.log(date)
date = getDate(150000000000)
console.log(date)
date = getDate('2017-07-14')
console.log(date)
date = getDate(2017, 6, 14, 12, 40, 0, 0)
console.log(date)
/**
 * 数据类型判断
 * 数据类型的判断可以使用constructor 来判断
 */
var number = 10;
console.log("Number" === number.constructor?"是number":"不是number")
var str = "str"
console.log("String" === str.constructor ? "是字符串" : "不是字符串")
var boolean = true
console.log("Boolean" === boolean.constructor?"是Boolean":"不是Boolean")
var object = {}
console.log("Object" === object.constructor?"是object":"不是object")
var func = function(){}
console.log("Function" === func.constructor?"是Function":"不是Function")
/**
 * typeof
 * 使用typeof 也可以区分部分数据类型
 * 
 */
var number = 10;
var bool = true;
var object = {};
var func = function () { };
var array = [];
var date = getDate();
var regexp = getRegExp();
console.log('number' === typeof number)
console.log('boolean' === typeof bool)
